body{
    background: linear-gradient(135deg, #ff7a5a, #ffdf6c);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.container{
    max-width: 1000px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p{
    font-size: 25px;
    margin-bottom: 25px;
}

h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    flex-direction:column;
}

button{
    margin-bottom: 17px;
    background-color: #0f6ed2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button :hover{
    background-color: #242a30;
}

button:active {
    background-color: #003d80;
}

#Upg1, #Upg2 {
    background-color: #23cc4a;
    font-size: 15px;
    
}

#Upg1:hover, #Upg2:hover {
    background-color: #218838;
}

#clickUpg1, #clickUpg2 {
    background-color: #b9962b;
    font-size: 15px;
}

#clickUpg1:hover, #clickUpg2:hover {
    background-color: #947b2f;
}
#Reset{
    background-color: red;
    font-size: 15px;
}
#Save{
    font-size: 15px;
    background-color: red;
}
#Exit{
    font-size: 15px;
    background-color: red;
}

#Reset:hover, #Save:hover, #Exit:hover{
    background-color: darkred;
}
#randomButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the button initially */
    cursor: pointer;
    padding: 10px 10px;
    font-size: 16px;
}
#achievements-panel {
    position: fixed;
    left: 10px;
    top: 50px;
    width: 280px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.achievement {
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid gray;
    border-radius: 5px;
    background: #444;
    color: #777;
    transition: all 0.5s;
}

.achievement.unlocked {
    background: #222;
    border-left-color: gold;
    color: white;
    font-weight: bold;
}